<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>csfProc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>csv2img.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>fusion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>mk_res_phantom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>nciBOLD1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>nciBOLD2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>nciBOLD3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>nciRec10.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>nciRec11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>nciRec12.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>nciRec13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>nciRec2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>nciRec7.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>nciRec8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>nciRec9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>psf.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>readCsv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>testProc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>wobble.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4140ADB15A3008700B8D2CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41AC48D1DDC5C3F0091F3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41AC49F1DDC61CD0091F3DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B41ACDE61547F7710034D7FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42A94E0224237B600380AC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42D0C8D15872B31008F0419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B42E6C6F1637E8D000D7D550</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B43F59F0148F524100D3C7E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B44486FF1F4C11B90085A32B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B446153920D25699001D28A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B44FBA7720F0C0620097E33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B46C69F516524176009BA267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B46E9BF815455721005730E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B47BC22115999328001FA09E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B480718C20565BE00031611D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B48BA51B146A842F00173F96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4A8F292173CDEDC003794EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BE98571A0B4B91000360B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4BFFF751639292500DF98FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4C310CB20CFB78700EF4991</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4C5D47D1E4311E100AA2EE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CD8CA216195C6B00264892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CD8CC31619774E00264892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4DA2FDD1E02920900689966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4DA2FEC1E029DF700689966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4DF1DAC11D88C2700C49A47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4E17CEB1E0BC4690074B0CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4EB231C1CBE32CA0084012C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4ED38B11DDDA7B900A75B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4ED38BD1DDDA85600A75B83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4F074E516391E67006C3509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4F2E00A1DB74B6E0079F6E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FC05F71AC68791006D17D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4FC06041AC6A1DC006D17D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
